{% extends 'polls/base/base.html' %}
{% block content %}

    <h1>The Detail</h1>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label>Question</label>{{form.question}}
          <label>Choice</label>{{form.choice_text}}
          <label>Votes</label>{{form.votes}}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a href="{% url 'index' %}" >Back to List</a>

{% endblock %}
